<div class="section-wrapper z-depth-1 wow fadeIn" data-wow-delay="0.1s">
    <div class="col s12 m12 l10 website right" >
        <div class="row">
            <div class="col s12 m12 l12">
                <span><a href="">Home</a></span> | <span><a href="">Home</a></span> | <span><a href="">Home</a></span>
                <div class="fpadd">Pinal Bhatt's Blog © 2016 | PBDesk.com</div>
                <div class="fpadd">Concept Design, Develop & Perceived by Pinal Bhatt.</div>
            </div>

        </div>
    </div>
</div>