    <div class="navbar navbar-default navbar-fixed-top topnav-border">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">PBDesk.com</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">This Site <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li class="divider"></li>
                <li><a href="../cerulean/">My Posts</a></li>
                <li><a href="../cosmo/">Gists</a></li>
                <li><a href="../cyborg/">eBooks</a></li>
                <li><a href="../darkly/">Tutorial</a></li>
                  <li class="divider"></li>
                  <li><a href="../darkly/">RSS</a></li>
                  <li><a href="../darkly/">SiteMap</a></li>
                  <li><a href="../darkly/"> Disclaimer</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">About <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="http://jsfiddle.net/bootswatch/9y480qo5/"><i class="fa fa-user"></i> About Me</a></li>
                  <li><a href="http://jsfiddle.net/bootswatch/9y480qo5/"><i class="fa fa-send"></i> Contact Me</a></li>
                  <li><a href="http://jsfiddle.net/bootswatch/9y480qo5/"><i class="fa fa-graduation-cap"></i>  My Resume</a></li>
                <li class="divider"></li>
                <li class="menuHeadText">Follow Me</li>
                <li><a href="./bootstrap.min.css"><i class="fa fa-facebook pull-right"></i>Facebook</a></li>
                  <li><a href="./bootstrap.min.css"><i class="fa fa-twitter pull-right"></i> Twitter</a></li>
                  <li><a href="./bootstrap.min.css"><i class="fa fa-linkedin pull-right"></i> LinkedIN</a></li>
                  <li><a href="./bootstrap.min.css"><i class="fa fa-google-plus pull-right"></i> Google+</a></li>
                  <li><a href="./bootstrap.min.css"><i class="fa fa-github pull-right"></i> Github</a></li>

                <li class="divider"></li>
                  <li class="menuHeadText">My Other Sites</li>
                <li><a href="./variables.less">RoKen</a></li>
                <li><a href="./bootswatch.less">KenKen</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>

