---
layout: layout
---


<div class="container">

    <div class="row">
        <div class="col-sm-8">
            <div class="blog-header">
                <h1 class="blog-title">Pinal Bhatt's Blog</h1>
                <p class="lead blog-description">Learning endeavor for ever...</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="AdPlace hidden-xs hidden-sm">
                {% include Ad/180x150.html %}
            </div>

        </div>

    </div>


    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="page-content">
                <div class="wrapper">
                    {{ content }}
                </div>
            </div>

            <nav>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
                    fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div>
            <div class="sidebar-module">
                <div class="staff">

                    <p class="ctxt"><b>Pinal Bhatt</b> <br/> Software Engineer</p>

                    <div>
                    <img class="footer-logo img-responsive img-rounded"
                         src="/assets/images/logo/PBDesk/PBDesk.png" alt="PBDesk Logo">
                    </div>
                    <p class="ctxt">always on learning ramp</p>
                    <div class="ctxt social"><a target="_blank" class="twitter" href="http://twitter.com/PBDesk"><i
                            class="fa fa-twitter"></i></a> <a target="_blank" class="facebook"
                                                              href="https://www.facebook.com/Go.PBDesk"><i
                            class="fa fa-facebook"></i></a> <a target="_blank" class="google-plus"
                                                               href="https://plus.google.com/+Pbdesk"><i
                            class="fa fa-google-plus"></i></a> <a target="_blank" class="linkedin"
                                                                  href="http://www.linkedin.com/in/pinalbhatt"><i
                            class="fa fa-linkedin"></i></a> <a target="_blank" class="pinterest"
                                                               href="https://github.com/PBDesk"><i
                            class="fa fa-github"></i></a></div>
                </div>
            </div>
            <div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                </ol>
            </div>
            <div class="sidebar-module">
                {% include widgets/twitter.html %}
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->
  