/*
theme colors
green(767270)
green (1abc9c) red(e74c3c)
*/

.social {
    margin-top: 15px;
    margin-bottom: 10px;
}

.social a i {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 50px;
}

.social1 a i {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
    text-shadow: 1px 1px 5px #000;
    width: 25px;
    height: 25px;
    margin-right: 2px;
    margin-left: 2px;
    font-size: 20px;
    line-height: 30px;
}


.social a.facebook i{
    background:#1e78ae;
}

.social a.twitter i{
    background:#1ba1e2;
}

.social a.google-plus i{
    background:#f22d0c;
}

.social a.linkedin i{
    background:#2d93cf;
}

.social a.github i{
    background:#dd1617;
}
.social a.rss i{
    background:#FA9B39;
}
.social1 a:hover i{
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
}
.social a:hover i{
    background:#000;
}

.jtxt {
    text-align: justify;
}
.ctxt{
    text-align: center;
}

.a-c{
    color: #767270 !important; //theme color
}

.a-c:hover{
    color: #000000;
}

.a-c .fa {
    text-align: inherit !important;
    display: inline;
    font-size: inherit;
}
.fpadd{
    color: #000;
}

ul#footer-menu li {
    display: inline;
}

ul#footer-menu li a {
    color: #767270 !important; //theme color
    padding: 10px 20px;
    text-decoration: none;
}
ul#footer-menu li:first-child:before {
    content: none;

}

ul#footer-menu li:before {
    content: ' | ';
    margin: 0 10px 0 8px;
}

ul#footer-menu li a:hover {
    color: #000000;
}

.sidebar .aboutMe {
    margin-bottom: 20px;
}

.sidebar .aboutMe h4 {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 5px #000;
    letter-spacing: 1px;
}

.sidebar .aboutMe h4 a:hover{
    color: #cccccc;
}

.breadcrumb {
    font-size: 14px;

}

.breadcrumb i,
.breadcrumb [class^="mdi-"], .breadcrumb [class*="mdi-"],
.breadcrumb i.material-icons {
    display: inline-block;
    float: left;
    font-size: 14px;
}

.breadcrumb:before {
    content: ' > ';

    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
}

.breadcrumb:first-child:before {
    display: none;
}

.breadcrumb:last-child {
    color: #000;
    display: inline !important;
}

.breadcrumb a {
    color: #767270 !important; //theme color
}
.breadcrumb a:hover {
    color: #000 !important;
}
.breadcrumbDiv {
    background-color: #e74c3c; //theme color green (1abc9c) red(#e74c3c)
}

.custom-content .fa {
    text-align: inherit;
    display: inline;
    font-size: 14px;
}