---
layout: material/rootLayout
---
<aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
    <div class="row">
        {% include material/widgets/menuAndLogo.html %}

        {% include material/widgets/aboutMeSidebar.html %}

        {% include material/widgets/sideBarW1.html %}

        {% include material/widgets/sideBarW2.html %}

        {% include material/widgets/sideBarW3.html %}

        <!-- SKILLS -->
        <div class="col l12 m12 s12  skills sidebar-item sidebar-item hide-on-med-and-down" >
            <div class="row">
                <div class="col m12 l3 s12 icon">
                    <i class="fa fa-calendar-o"></i> <!-- icon -->
                </div>
                <!-- Skills -->
                <div class="col m12 l9 s12 skill-line a5 wow fadeIn" data-wow-delay="0.5s">
                    <h3>Featured </h3>


                </div>
            </div>
        </div>
    </div>
</aside>

<section class="col s12 m12 l8 section">
    <div class="row">
        {{ content }}

        {% include material/widgets/R1Add.html %}
        {% include material/footer.html %}
    </div>
</section>

