<div class="col l12 m12 s12  sidebar-item hide-on-med-and-down">
    <div class="row">
        <div class="col m12 s12 l3 icon">
            <i class="fa fa-user"></i> <!-- icon -->
        </div>
        <div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s" style="border-bottom: none !important;" >
            <div class="section-item-details">
                <div class="personal">
                    <h4><a href="/about">About Me</a></h4> <!-- Number -->
                </div>
            </div>
        </div>
        <div class="col m12 s12 l3 icon">
            <i class="fa fa-send"></i> <!-- icon -->
        </div>
        <div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s"  style="border-bottom: none !important;">
            <div class="section-item-details">
                <div class="personal">
                    <h4><a href="/about/contact-me">Contact Me</a></h4> <!-- Number -->
                </div>
            </div>
        </div>
        <div class="col m12 s12 l3 icon">
            <i class="fa fa-rss-square"></i> <!-- icon -->
        </div>
        <div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s" >
            <div class="section-item-details">
                <div class="personal">
                    <h4><a href="/rss">Subscribe Rss</a></h4> <!-- Number -->
                </div>
            </div>
        </div>
    </div>
</div>