<div class="col l12 m12 s12 sidebar-item hide-on-med-and-down">
    <div class="row">
        <div class="col m12 s12 l3 icon">
            <i class="fa fa-file-text-o"></i> <!-- icon -->
        </div>
        <div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s" style="border-bottom: none !important;" >
            <div class="section-item-details">
                <div class="personal">
                    <h4><a href="tel:555-555-5555">My Posts</a></h4> <!-- Number -->
                </div>
            </div>
        </div>
        <div class="col m12 s12 l3 icon">
            <i class="fa fa-file-code-o"></i> <!-- icon -->
        </div>
        <div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s"  style="border-bottom: none !important;">
            <div class="section-item-details">
                <div class="personal">
                    <h4><a href="tel:555-555-5555">Gists</a></h4> <!-- Number -->
                </div>
            </div>
        </div>
        <div class="col m12 s12 l3 icon">
            <i class="fa fa-book"></i> <!-- icon -->
        </div>
        <div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s"  style="border-bottom: none !important;">
            <div class="section-item-details">
                <div class="personal">
                    <h4><a href="tel:555-555-5555">eBooks</a></h4> <!-- Number -->
                </div>
            </div>
        </div>
        <div class="col m12 s12 l3 icon">
            <i class="fa fa-laptop"></i> <!-- icon -->
        </div>
        <div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s" >
            <div class="section-item-details">
                <div class="personal">
                    <h4><a href="tel:555-555-5555">Tutorials</a></h4> <!-- Number -->
                </div>
            </div>
        </div>
    </div>
</div>