<div class="work">
    <div class="social1">
        <a target="_blank"  href="http://twitter.com/PBDesk">
            <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank"  href="https://www.facebook.com/Go.PBDesk">
            <i class="fa fa-facebook"></i>
        </a>
        <a target="_blank"  href="https://plus.google.com/+Pbdesk">
            <i class="fa fa-google-plus"></i>
        </a>
        <a target="_blank"  href="http://www.linkedin.com/in/pinalbhatt">
            <i class="fa fa-linkedin"></i>
        </a>
        <a target="_blank"  href="https://github.com/PBDesk">
            <i class="fa fa-github"></i>
        </a>
        <a target="_blank"  href="/rss.xml">
            <i class="fa fa-rss"></i>
        </a>
    </div>
</div>